In [ ]:
# PYTHON DATA TYPES

#Numbers
Numbers age=25, population = 10,000
Floats Price = 19.9, temperature = 98.6
Complex numbers = 3+4j

#Strings
name = "John Doe"
message= "Hello, world!"

#String operations
full_name = "john" + "" + "Doe"
repeated = "Ha"* 3 #HaHaHa
length = len(python) #6

#String methods
text = "python programming"
print(text.strip())  #"Python Programming"
print(text.upper())  #"PYTHON PROGRAMMING"
print(text.replace("python", "java"))   #"Java programming"

#Boolean Operations
True = 1
false = 0
result = True and False  #false
result = True or False  #True
result = not true     #false

#None Type
#Represents absence of a value
data= None if data is none: print ("no data available")

#NB 25/5 = 5.0 
    25/6 = 4.66  #Float single division

    25//5 = 5

    25//5= 4    #Floats double division

In [ ]:
# DATA STRUCTURES

#Lists- Ordered, multable collections

fruits = ["apple", "banana", "orange"]
numbers = [1,2,3,4,5]
mixed=[1, "hello", 2, 3.14, True]

#Accessing list
first_fruit = fruits[0]     #apple
last_fruit = fruits[-1]     #orange
middle_fruits= fruits[1] or fruits[-2]  #banana

#Addition and subraction from a list 

#additions
fruits.extend(["mango","pineapple"])        #["apple", "banana", "orange","mango", "pinapple"]

fruits.append (["mango","pineapple"])       # ["apple", "banana", "orange", ["mango", "pineapple"]]
fruits[0]= "strawberry"

fruits[0].split()
#List operations
length= len(fruits)

is_strawberry_there = "strawberry" in fruits
print (is_strawberry_there)
print(fruits)

#Use list when you want to make corrections to your data and also create duplicates.

True
['strawberry', 'banana', 'orange', 'mango', 'pineapple', ['mango', 'pineapple']]

In [ ]:
#Dictionaries - key pair values

#creating doctionaries
person={
    "name": "Anita",
    "age": 23,
    "city": "New york",
    "employed": True}

#Accessing dictionaries
name= person["name"]
age = person.get("age", 0)
del person["employed"]

#Modifying dictionaries
keys= person.keys()
values= person.values()
items = person.items()

#Addition to a dictionary
person["email"]= "Anitaemma@email.com"
person["age"]= 21

#Looping through dictionaries
for key, value in person.items (): print(f"{key}:{value}")

#print(keys)
#print(values)
#print(items)
# Use dictionaries when you want to map out key to values, structured data or require fast lookups

name:Anita
age:21
city:New york
email:Anitaemma@email.com

In [52]:
#Tuples - Ordered, unchangeable

#Creating tuples
cool = (10,20,30)
colour=("red", "yellow", "blue")
single= (42)

#Accessing elements
x= cool[0]
y=cool[1]
z=cool[2]

#cool[0]= 15     #Error because tuples are unassignable and unchangable after creation

# use tuples when you need an ordered collection that shouldnt change for database records and to ensure data integrity

new = colour + ("black", "white", "orange")

back = cool + (100, 15, 18, 90, 24)

sort = sorted (back)
print (sort)

[10, 15, 18, 20, 24, 30, 90, 100]

In [ ]:
#Sets - unordered, unique collections

unique= {1,2,3,4,5,6}
colours= set(["red","yellow","green","black","orange","blue", "blue","black"])

#Set operations
colours.add("violet")
colours.remove("blue")  #causes error if the element is not on the list
colours.discard("green")    # causes no error even if the element is not on the list

#Set mathematics
check= "yellow" in colours

set_1 = {1,2,3,4,5}
set_2 = {2,4,5,7,9}

#Unions
union= set_1| set_2  # removes duplicates and carries unique values 
intersection= set_1 & set_2 # Collects values unique to both sets only
difference = set_2 - set_1  # Collects those values with no similarites with the other set, depending on what set comes first
difference2 = set_1 - set_2 


print(union)
print (intersection)
print(difference)
print(difference2)

# When you need to store unique items only, when you are performing mathematical set operations

{1, 2, 3, 4, 5, 7, 9}
{2, 4, 5}
{9, 7}
{1, 3}

In [4]:
#SALES TRACKER USING DATA TYPES, DATA STRUCTURES, LOOPS AND F" STRING

item_prices= {
    "coffee":3.00,
    "tea":2.50,
    "sandwich": 5.00
}
sales_today=[("coffee", 10), ("tea", 5), ("sandwich", 3)]

print("Daily sales report")
print("===================")


for item, quantity in sales_today:
    price=item_prices[item]
    total= price * quantity
    print(f"{item}:{quantity} sold at ${price} each = ${total}")

print("==================")

total_revenue= 0
for item, quantity in sales_today:
    price= item_prices[item]
    total_revenue= total_revenue +(price * quantity)

print(f"Total_revenue: ${total_revenue}")

total_items= 0
for item, quantity in sales_today:
    total_items= total_items + quantity
print(f"Total_items sold: {total_items}")

print("=================")


print("All available items:")
for items, price in item_prices.items():
    print(f"{items}: ${price}")

Daily sales report
===================
coffee:10 sold at $3.0 each = $30.0
tea:5 sold at $2.5 each = $12.5
sandwich:3 sold at $5.0 each = $15.0
==================
Total_revenue: $57.5
Total_items sold: 18
=================
All available items:
coffee: $3.0
tea: $2.5
sandwich: $5.0

In [ ]:
#Practing loops and f string

Eatery= { 
    "Burger": 5.99,
    "Chips": 3.76,
    "Turkey": 1.09,
    "Noodles": 6.85 
}

Sales= [("Burger"), ("Chips"), ("Turkey"), ("Noodles")]

for food in Sales:
    buy= Eatery[food]
    print (f"{food}: at ${buy} was sold ")

Burger: at $5.99 was sold
Chips: at $3.76 was sold
Turkey: at $1.09 was sold
Noodles: at $6.85 was sold

In [68]:
Student_grade= {
    "Maths": 85,
    "Science": 92,
    "English": 78,
    "History": 88,
    "Art": 95
}

Subjects= [("Maths"), ("Science"), ("English"),("History"),("Art")]

for sub in Subjects:
    student= Student_grade[sub]
    print(f"{student}: in the various subjects {sub}")

print("==============================")

for sub in Subjects:
    student= Student_grade[sub]
    average = student / 2
    print (f"The average score for {student} in {sub} is {average}")
print("==============================")

total= 0
for sub in Subjects:
    student= Student_grade[sub]
    print(f"{student}: in the various subjects {sub}")
    total= total + student
    
print("==============================")

average= total / len(Subjects)
print (f"Average grade:{average}")

85: in the various subjects Maths
92: in the various subjects Science
78: in the various subjects English
88: in the various subjects History
95: in the various subjects Art
==============================
The average score for 85 in Maths is 42.5
The average score for 92 in Science is 46.0
The average score for 78 in English is 39.0
The average score for 88 in History is 44.0
The average score for 95 in Art is 47.5
==============================
85: in the various subjects Maths
92: in the various subjects Science
78: in the various subjects English
88: in the various subjects History
95: in the various subjects Art
==============================
Average grade:87.6

# CONDITIONS AND BRANCHING, LOOPS,FUNCTIONS, ESCAPE SEQUENCE, REGEX EXPRESSION

In [ ]:
#Escape sequence - they always begin with a backlash \

# 1. New line \n

print ("firstname, secondname, thirdname")
print("firstname\nsecondname\nthirdname");

print ("======================")

# 2. Tab \t - it adds a tab space 

print("name:john")
print("age:25")
print("city:new york")

print("name:\tJohn")
print("age:\t25")
print("city:\tnew york")

print ("======================")

# 3. Backlash \\ - to include an actual backlash to your work

print("This is a backlash: \\")
print("File path:C:\\Users\\Documents")

print ("======================")

#4. Single quote - \' ti include a single quote into your text/string

print("it's a beautiful day")
print ("it\'s a beautiful day")
print ("She said \'hello\'")
print ("She said 'hello'")

print ("======================")

#5. Double quote - \" similar to the single quote 
print ("He said \"I love python\"")
print ("He said \"I love python\"")

firstname, secondname, thirdname
firstname
secondname
thirdname
======================
name:john
age:25
city:new york
name:	John
age:	25
city:	new york
======================
This is a backlash: \
File path:C:\Users\Documents
======================
it's a beautiful day
it's a beautiful day
She said 'hello'
She said 'hello'
======================
He said "I love python"
He said "I love python"
world

In [52]:
#6. Carriage return - \r - it moves the cursor to the beginning of the line

print("Hello i love my python\rworld")
print ("Loading...... in\rcomplete process")

print ("======================")

#7. Backspace \b removes the characters before it

print("Comment below the\b space")
print ("python\b\b\bon")

print ("======================")

#8. Null Character \0 - represents null/ empty character
print ("Hello\0World")

world i love my python
complete process
======================
Comment below th space
pythoon
======================
Hello World

In [ ]:
#REGULAR REGRESSION (REGEX)
#They are patterns used to match and manipulate text. it comes from the re modulee

import re 
#pattern = r'\d+' or '\\d+' - it is used to find digits one(r'\d') or more(r'\d+') within your string

#finding a single digit
text= "i have 15 apples"
result= re.search (r'\d', text)
print(result.group())

#finding one or more digits
text= "i have 25 apples"
result= re.search (r'\d+', text)
print(result.group())

#finding multiple digits
text= "i have 25 apples and 20 oranges"
result= re.findall (r'\d+', text)
print(result)

#2. \w or \w+ to match any caharacter(letters, digits, underscore)

#Finding first word character
text= "Bye123"
result= re.search (r'\w', text)
print(result.group())

#finding one or more word character
text= "see_you soon"
result= re.search (r'\w+', text)
print(result.group())

#finding all word caharacter
text= "Bye123 see you tmr"
result= re.findall (r'\w+', text)
print(result)

#3. \s or \s+ matches any shitespaces , tabs or newlines

#finding single whitespace
text= "Hello python"
result= re.search (r'\s', text)
print(result.group())
print(repr(result.group()))

#finding one or more whitespaces
text= "Hello\t  python\t  world"
result= re.search (r'\s+', text)
print(result.group())
print(repr(result.group()))

1
25
['25', '20']
B
see_you
['Bye123', 'see', 'you', 'tmr']

' '

'\t  '
' '

In [103]:
#CONDITIONAL BRANCHING (COMPARISON OPERATORS)


# ==(equal to)
print (5==5)
print (5==3)
print ("hello" == "hello")
print ("hello" == "Hello")

print ("===============")
# !=(not equal to)
print (5 != 3)
print (5 != 5)
print ("cat" != "dog")

print ("===============")
# > (greater than)
print (10 > 5)
print (3>7)
print (5 >5)

print ("===============")
# < (less than)
print (10 < 5)
print (5<6)

print ("===============")
# >=(greater than or equal to)

print (10>=5) # uses logic statement "or"
print (5>=5)
print (3>=7) # it neither falls into any category

print ("===============")
# <= (less than or equal to)
print (3<=7)
print (7<=3)

True
False
True
False
===============
True
False
True
===============
True
False
False
===============
False
True
===============
True
True
False
===============
True
False

In [109]:
#Age comaprison 

my_age= 25
print(my_age>=18)

item_price= 50
budget= 60
print (item_price >= budget)

True
False

In [114]:
#IF STATEMENT 

age= 18
if age >=18:
    print ("Eligible to vote")

password ="secret123"
if password == "secret123":
    print('Acess granted')
    print ("welcome")

Eligible to vote
Acess granted
welcome

In [125]:
#IF ELSE STATEMENT

age= 14
if age >= 18:
    print ("Eligible to vote")

else:
    print ("Ineligible to vote")

num = 10
if num %2 ==0: # it means if it is divisible by 2 without reminder
    print("the num is even")

else:
    print ("the number is odd")


score = 87
A= 70
if score >= A:
    print ("Congratulations, you passed the test")
else: 
    print ("sorry, you failed the test")

Ineligible to vote
the num is even
Congratulations, you passed the test

In [ ]:
# IF- ELIF ELSE STATEMENT used when you want to check multiple conditions, not just two


score = 55

if score >= 90:
    print ("Grade:A, Excellent work")

elif score >= 80:
    print ("Grade:B, Good Job")

elif score >= 70:
    print ("Grade:C, You passed")

else:
    print ("Grade: F, you failed") 


colour = "yellow"

if colour == "green":
    print ("Go")

elif colour == "yellow":
    print ("Slow down")

elif colour == "red":
    print ("Stop")

else:
    print ("invalid colour")



age = 35
if age< 13:
    print ("you are a child")

elif age <20:
    print (" you are a teenager")
elif age <60:
    print ("you are an adult")
else:
    print ("you are an elder")

Grade: F, you failed
Slow down
you are an adult

In [155]:
#NESTED IF STATEMENTS putting an if statement inside another

#age and license check

age = 20
has_license= True

if age >=18:
    print ("You are old enough to drive")
    if has_license:
        print ("you can drive legally,have a safe trip!")
    else:
        print ("You need a license first, please get a license")
else:
    print ("you are too young to drive, wait until you turn 18 ")

print ("====================")
#Weather and activity

weather= "sunny"
temp=25

if weather == "sunny":
    print("it\'s a sunny day")
    if temp > 20:
        print ("perfect for a swim, don\'t forget suncreen")
    else: 
        print ("a bit cool for a swim, maybe go for a walk")
else: 
    print ("Not a sunny day, stay indoors")

print ("==========================")

#Shopping Budget

money = 100
item_price= 80
item_available= True

if money >= item_price:
    print ("you have enough money")
    if item_available:
        print ("item is in stock")
        print ("purchase successful")
        remaining= money - item_price
        print (f"you have ${remaining} left")

    else:
        print ("sorry, item is out of stock")

else:
    print ("not enough money")
    needed= item_price- money
    print (f"you need ${needed} more")

You are old enough to drive
you can drive legally,have a safe trip!
====================
it's a sunny day
perfect for a swim, don't forget suncreen
==========================
you have enough money
item is in stock
purchase successful
you have $20 left

In [177]:
#LOGICAL OPERATORS (CONDITIONAL BRANCHING)

#And statement - both conditions must be true

age = 25
has_job= True

if age >= 18 and has_job:
    print ("you can apply for a loan")

print ("=======================")

#Or statement - at least one condition must be true
age = 12
has_job= True

if age >= 18 or has_job:
    print ("you can apply for a loan")

print ("======================")
Day = "saturday"
if Day == "saturday" or Day =="!saturday":
    print ("its the weekend")

print ("================")
#Not statement - flips true to false and false to true

is_raining = False

if not is_raining:
    print ("lets go for a walk")

else:
    print ("stay indoors")

print ("===================")
#Complex conditions

temp=22
is_sunny= True
has_umbrella=False

if temp >15 and is_sunny and not has_umbrella:
    print ("perfect weather for a walk")

else:
    print ("grab an umbrella")

you can apply for a loan
=======================
you can apply for a loan
======================
its the weekend
================
lets go for a walk
===================
perfect weather for a walk

In [181]:
#Practice work

print ("Name: Asemota Omo Otasowie\nAge: 24 years old")
print ("file path:C:\\users\\documents\\file.txt")

print("Name:\tJohn")
print("Age:\t25")
print("City:\tNew York")

Name: Asemota Omo Otasowie
Age: 24 years old
file path:C:\users\documents\file.txt
Name:	John
Age:	25
City:	New York

In [ ]:
import re

text= "i bought 5 apples and 12 oranges for $17"
result=re.findall(r'\d+', text)
print (result)


text= "Helo world python\n programming"
result= re.findall(r'\w+', text)
print (result) 

#r'\s+' locates the whitespace pattern between word characters(tab, newline etc)

['5', '12', '17']
['Helo', 'world', 'python', 'programming']

In [193]:
print(15 >=15);
print("hello"=="Hello");
print(10 !=5);
print(7<3);

True
False
True
False

In [198]:
grade= 65

if grade >=90:
    print ("GRADE:A")
elif grade >= 80:
    print ("GRADE:B")
elif grade >70:
    print ("GRADE: C")
else:
    print ("GRADE: F")


age= 21
has_license= False

if age >= 18:
    print ("Legalized to drive")
    if has_license:
        print ("allowed to drive")
    else: 
        print("Need a license")
else:
    print ("too young")

GRADE: F
Legalized to drive
Need a license

In [209]:
day= "Sunday"
is_sunny= True

if day == "sunday" or "saturday" and is_sunny:
    print ("its a beautiful day")

else:
    print ("its a cloudy day")

is_raining = False

if not is_raining:
    print ("Go outside")

x= 5
y= 10

if x > 3 and y < 15 or not x:
    print ("Logically correct")
else:
    print ("Not logically correct")

its a beautiful day
Go outside
Logically correct